#details{
width:560px;
height:300px;    
padding:10px;
border:2px solid #009688;
overflow:auto;
font-family:Helvetica;
margin-left:350px;
margin-top:80px;
color:#009688;
font-size:20px;
background-color:#EAEAEA;

}
#sub1{
   border: 2px solid ;
	width: 85px;
	height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
	
}


#sub1:hover {
    background-color:#009688;
    color: white;
}


